<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2019.2.619" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core R2 2019\wrappers\aspnetcore\Binaries\AspNet.Core" />
    <add key="Telerik UI for ASP.NET Core 2020.1.406" value="C:\Users\Shpizpurgen\AppData\Roaming\Telerik\Updates\telerik.ui.for.aspnet.core.hotfix.2020.1.406.trial\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>